<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



	<context:component-scan base-package="com.xworkz.common"></context:component-scan>

	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="localSessionFactoryBean">
		<property name="configLocation" value="/WEB-INF/classes/hibernate.xml"></property>
		<property name="dataSource" ref="jndiObjectFactoryBean"></property>
	</bean>

	<!-- JNDI instantiation -->

	<bean class="org.springframework.jndi.JndiObjectFactoryBean" id="jndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/MyJNDI"></property>
	</bean>

	<!-- <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver1">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="1"></property>
	</bean> -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver2">
		<property name="prefix" value="/WEB-INF/views/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
		<!-- <property name="order" value="2"></property> -->
	</bean>


</beans>